#cloud-config
package_update: true
packages:
  - docker.io
  - docker-compose
  - ansible
  - wget
  - curl
  - openssh-server
runcmd:
  - systemctl enable docker
  - systemctl start docker
  - systemctl enable ssh
  - systemctl start ssh

  - usermod -aG sudo devops
  - usermod -aG docker devops
  - echo "devops ALL=(ALL) NOPASSWD:ALL" > /etc/sudoers.d/devops
  - chmod 440 /etc/sudoers.d/devops
  - chown root:root /etc/sudoers.d/devops
  - sudo reboot